.user-list-main {
    width: 100%;
    text-align: center;
    background-color: #fff;
    margin: 20px 0;
}
.user-result-block, .user-shortlisted-block {
    width: 71%;
    height: auto;
    min-height: 100px;
    margin: auto;
}
h2 {
    width: 100%;
    padding: 10px 0;    
    background-color: #787878;
    color: #fff;
    font-family: Arial;
}

@media (min-width: 1025px) and (max-width: 1280px) {
  .user-result-block, .user-shortlisted-block {
    width: 81%;
}  
}